<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Patient</title>
</head>
<body>
    <form th:action="@{'/new'}" method="post" th:object="${newPatient}">
        <input type="text" placeholder="Name" th:field="*{patientName}"/>
        <input type="text" placeholder="Age" th:field="*{patientAge}"/>
        <input type="text" placeholder="Id" th:field="*{patientId}"/>
        <input type="text" placeholder="Weight" th:field="*{patientWeight}"/>
        <input type="text" placeholder="Height" th:field="*{patientHeight}"/>
        <input type="submit" value="Register" />
    </form>
</body>
</html>